# Solutions for python in class exercise

### Tab a

Let's practice with lists first. One way to explore data structures is to learn their methods. Check all the methods of a list by running 'dir()' on a list object. Let's explore these functions using the following list object, by answering the below questions. See [here](https://www.w3schools.com/python/python_ref_list.asp) for list methods:

In [25]:
list_exercise = ["Ramy", "Victorie", "Letty", "Robin", "Antoine", "Griffin"]

1.  Add "Cathy O'Neil" to the list. Insert "Professor Crast" as the first element of the list

In [14]:
list_exercise.append("Cathy O'neil")
list_exercise + ["Cathy Oneil"]
# a

['Ramy',
 'Victorie',
 'Letty',
 'Robin',
 'Antoine',
 'Griffin',
 "Cathy O'neil",
 'Cathy Oneil']

In [3]:
help(list_exercise.__add__)

Help on method-wrapper:

__add__(value, /)
    Return self+value.

In [15]:
# insert first position
["Professor Crast"] + list_exercise 
list_exercise.insert(0, "Professor Crast")
print(list_exercise)

['Professor Crast', 'Ramy', 'Victorie', 'Letty', 'Robin', 'Antoine', 'Griffin', "Cathy O'neil"]

2. Remove "Letty" from the list. Also remove the last element of the list.

In [16]:
# 1
list_exercise.remove("Letty")
print(list_exercise)

['Professor Crast', 'Ramy', 'Victorie', 'Robin', 'Antoine', 'Griffin', "Cathy O'neil"]

In [24]:
# 2
list_exercise.pop()
print(list_exercise)

IndexError: pop from empty list

3.  Find the index of the occurrence of the name "Robin". Count the number of times None appears in the list.

In [26]:
# solution
index_robin = list_exercise.index("Robin")
print(index_robin)

3

In [27]:
# solution
list_exercise.count(None)

0

4. Create a new list with the names in alphabetical order, copy this list as a new list without changing the values of the original list

In [28]:
list_copy = list_exercise.copy()
list_copy.sort()

# notice the modification in place
print(list_copy)
print(list_exercise)

['Antoine', 'Griffin', 'Letty', 'Ramy', 'Robin', 'Victorie']
['Ramy', 'Victorie', 'Letty', 'Robin', 'Antoine', 'Griffin']

5. Add the string "Lovell" to copied_list and ensure that list_exercise remains unchanged.

In [29]:
list_copy.append("Lovell")
print(list_copy)
print(list_exercise)

['Antoine', 'Griffin', 'Letty', 'Ramy', 'Robin', 'Victorie', 'Lovell']
['Ramy', 'Victorie', 'Letty', 'Robin', 'Antoine', 'Griffin']

### Tab B

Let's do a similar exercise with Dictionaries. Consider the dictionary below. See [here](https://www.w3schools.com/python/python_ref_dictionary.asp) for dictionary methods:

In [31]:
dict_exercise = {"Ramy": "India",
                  "Victorie":"Haiti", 
                  "Letty":"England", 
                  "Robin":"Canton", 
                  "Antoine":"Nigeria", 
                  "Griffin":"China"}
dict_exercise

{'Ramy': 'India',
 'Victorie': 'Haiti',
 'Letty': 'England',
 'Robin': 'Canton',
 'Antoine': 'Nigeria',
 'Griffin': 'China'}

1. Look up the keys in the dictionary, and store them in a list object called keys

In [32]:
keys = list(dict_exercise.keys())
print(keys)

['Ramy', 'Victorie', 'Letty', 'Robin', 'Antoine', 'Griffin']

2. Add yourself, and two other colleagues in this dictionary. The values are the countries the person in the key was born.

In [33]:
dict_exercise["tiago"]="Brazil"
print(dict_exercise)

{'Ramy': 'India', 'Victorie': 'Haiti', 'Letty': 'England', 'Robin': 'Canton', 'Antoine': 'Nigeria', 'Griffin': 'China', 'tiago': 'Brazil'}

3.  Remove "Ramy" from the dictionary, and save as another dictionary

In [34]:
# create new
dict_new={"Ramy":dict_exercise.get("Ramy")}
print(dict_new)
print(dict_exercise)

{'Ramy': 'India'}
{'Ramy': 'India', 'Victorie': 'Haiti', 'Letty': 'England', 'Robin': 'Canton', 'Antoine': 'Nigeria', 'Griffin': 'China', 'tiago': 'Brazil'}

In [35]:
# pop
dict_exercise.pop("Ramy")
print(dict_exercise)

{'Victorie': 'Haiti', 'Letty': 'England', 'Robin': 'Canton', 'Antoine': 'Nigeria', 'Griffin': 'China', 'tiago': 'Brazil'}

In [36]:
# del
del dict_exercise["Victorie"]
print(dict_exercise)

{'Letty': 'England', 'Robin': 'Canton', 'Antoine': 'Nigeria', 'Griffin': 'China', 'tiago': 'Brazil'}

### Tab C

Let's now play around with some string methods. See the string below from the book "Babel:An Arcane History". See [here](https://www.w3schools.com/python/python_ref_string.asp) for string methods:

In [38]:
babel = """
That's just what translation is, I think. That's all speaking is. 
Listening to the other and trying to see past your own biases to glimpse what they're trying to say. 
Showing yourself to the world, and hoping someone else understands."
"""

1. Determine if the word "Babel" is present in the string.

In [40]:
"Babel" in babel

False

2. Count how many times the word "translation" appears

In [41]:
# count
babel.count("translation")

1

In [42]:
# where
babel.index("translation")

18

In [43]:
# see
babel[17:18+len("translation")]

' translation'

3. Convert the entire string to upper case

In [44]:
babel.upper()

'\nTHAT\'S JUST WHAT TRANSLATION IS, I THINK. THAT\'S ALL SPEAKING IS. \nLISTENING TO THE OTHER AND TRYING TO SEE PAST YOUR OWN BIASES TO GLIMPSE WHAT THEY\'RE TRYING TO SAY. \nSHOWING YOURSELF TO THE WORLD, AND HOPING SOMEONE ELSE UNDERSTANDS."\n'

4. Convert the pronoum "I" to "We" in the entire text.

In [45]:
babel.replace("I ", "We ")

'\nThat\'s just what translation is, We think. That\'s all speaking is. \nListening to the other and trying to see past your own biases to glimpse what they\'re trying to say. \nShowing yourself to the world, and hoping someone else understands."\n'

5. Strip any punctuation (like commas, exclamation marks, etc.) from the string.

In [46]:
# Define a string containing some punctuation marks.
punctuation = ",'.!"

# Iterate over: we will see this later. 
for char in punctuation:
    babel = babel.replace(char, "")
    
print(babel)

Thats just what translation is I think Thats all speaking is
Listening to the other and trying to see past your own biases to glimpse what theyre trying to say
Showing yourself to the world and hoping someone else understands"

In [45]:
!jupyter nbconvert _solution_inclass_python_1.ipynb --to html --template classic

[NbConvertApp] Converting notebook _solution_inclass_python_1.ipynb to html
[NbConvertApp] Writing 301640 bytes to _solution_inclass_python_1.html