## solutions week 7 in class exercise

In [1]:
import pandas as pd
import numpy as np

## Practice

Using the World Cup Matches Datasets from the Data Wrangling Notebook:
    
1. Select the following columns: MatchID, Year, Stage, Home Team Name, Away Team Name, Home Team Goals, Away Team Goals.
    
2. Clean the column names.    
    
3. Convert this data to the long format, having both a single collumn for the team playing and the goals scored  

4. Which team have played more games in the history of the world cup?

5. Which team have a higher average of goals in the history of the world cup?

In [2]:
# load worldcup dataset
wc = pd.read_csv("WorldCups.csv")
wc_matches = pd.read_csv("WorldCupMatches.csv")

wc_matches.index

RangeIndex(start=0, stop=852, step=1)

In [3]:
# 1 and 2
wc_copy = (wc_matches.filter(["MatchID", "Year", "Stage", 
                              "Home Team Name", 
                              "Away Team Name", "Home Team Goals", 
                              "Away Team Goals"]).
     rename(columns={col: col.lower().replace(" ", "_") for col in wc_matches.columns}).copy()
)

In [9]:
wc_copy

,matchid,year,stage,home_team_name,away_team_name,home_team_goals,away_team_goals
0,1096,1930,Group 1,France,Mexico,4,1
1,1090,1930,Group 4,USA,Belgium,3,0
2,1093,1930,Group 2,Yugoslavia,Brazil,2,1
3,1098,1930,Group 3,Romania,Peru,3,1
4,1085,1930,Group 1,Argentina,France,1,0
...,...,...,...,...,...,...,...
847,300186488,2014,Quarter-finals,Netherlands,Costa Rica,0,0
848,300186474,2014,Semi-finals,Brazil,Germany,1,7
849,300186490,2014,Semi-finals,Netherlands,Argentina,0,0
850,300186502,2014,Play-off for third place,Brazil,Netherlands,0,3
851,300186501,2014,Final,Germany,Argentina,1,0

In [16]:
wc_copy.filter(["matchid", "year", "stage", "home_team_name", "away_team_name"])

       matchid  year                     stage home_team_name away_team_name
0         1096  1930                   Group 1         France         Mexico
1         1090  1930                   Group 4            USA        Belgium
2         1093  1930                   Group 2     Yugoslavia         Brazil
3         1098  1930                   Group 3        Romania           Peru
4         1085  1930                   Group 1      Argentina         France
..         ...   ...                       ...            ...            ...
847  300186488  2014            Quarter-finals    Netherlands     Costa Rica
848  300186474  2014               Semi-finals         Brazil        Germany
849  300186490  2014               Semi-finals    Netherlands      Argentina
850  300186502  2014  Play-off for third place         Brazil    Netherlands
851  300186501  2014                     Final        Germany      Argentina

[852 rows x 5 columns]

In [1]:
# 3
wc_home = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_name", "away_team_name"]).
    melt(id_vars=["matchid", "year", "stage"], 
            var_name="team_host", 
            value_name="team_name").
    assign(team_host= lambda x: x["team_host"].str.replace("_team_name", ""))
)
wc_home

NameError: name 'wc_copy' is not defined

In [21]:
# 4 
(wc_home
     .groupby(["team_name", "team_host"], as_index=False)
     ["team_name"]
     .size()
     .sort_values("size", ascending=False))

                    team_name team_host  size
15                     Brazil      home    82
75                      Italy      home    57
5                   Argentina      home    54
56                 Germany FR      home    43
85                     Mexico      away    38
..                        ...       ...   ...
68                    IR Iran      home     1
70                       Iran      home     1
71                       Iraq      away     1
77                    Jamaica      home     1
160  rn">United Arab Emirates      home     1

[161 rows x 3 columns]

In [38]:
# 5 
(wc_home
     .groupby(["team_name", "team_host"], as_index=False)
     ["team_name"]
     .size()
     .sort_values("size", ascending=False)
     .groupby(["team_host"])
     .head(5)
)

      team_name team_host  size
15       Brazil      home    82
75        Italy      home    57
5     Argentina      home    54
56   Germany FR      home    43
85       Mexico      away    38
48      England      home    35
49       France      away    30
127       Spain      away    29
4     Argentina      away    27
47      England      away    27

In [15]:
# 3 - 
wc_goals = (wc_copy.
    filter(["matchid", "year", "stage", "home_team_goals", "away_team_goals"]).
    melt(id_vars=["matchid","year", "stage"], 
             var_name="team_host", 
            value_name="team_goals").
    filter(["matchid","team_host", "team_goals"])
)
wc_goals

        matchid        team_host  team_goals
0          1096  home_team_goals           4
1          1090  home_team_goals           3
2          1093  home_team_goals           2
3          1098  home_team_goals           3
4          1085  home_team_goals           1
...         ...              ...         ...
1699  300186488  away_team_goals           0
1700  300186474  away_team_goals           7
1701  300186490  away_team_goals           0
1702  300186502  away_team_goals           3
1703  300186501  away_team_goals           0

[1704 rows x 3 columns]

In [39]:
wc_home.head()

   matchid  year    stage team_host   team_name
0     1096  1930  Group 1      home      France
1     1090  1930  Group 4      home         USA
2     1093  1930  Group 2      home  Yugoslavia
3     1098  1930  Group 3      home     Romania
4     1085  1930  Group 1      home   Argentina

In [40]:
wc_goals.head()

   matchid        team_host  team_goals
0     1096  home_team_goals           4
1     1090  home_team_goals           3
2     1093  home_team_goals           2
3     1098  home_team_goals           3
4     1085  home_team_goals           1

In [45]:
# 3
wc_tidy = pd.concat([wc_home, wc_goals],axis=1)

wc_tidy

,matchid,year,stage,team_host,team_name,matchid,team_host,team_goals
0,1096,1930,Group 1,home,France,1096,home_team_goals,4
1,1090,1930,Group 4,home,USA,1090,home_team_goals,3
2,1093,1930,Group 2,home,Yugoslavia,1093,home_team_goals,2
3,1098,1930,Group 3,home,Romania,1098,home_team_goals,3
4,1085,1930,Group 1,home,Argentina,1085,home_team_goals,1
...,...,...,...,...,...,...,...,...
1699,300186488,2014,Quarter-finals,away,Costa Rica,300186488,away_team_goals,0
1700,300186474,2014,Semi-finals,away,Germany,300186474,away_team_goals,7
1701,300186490,2014,Semi-finals,away,Argentina,300186490,away_team_goals,0
1702,300186502,2014,Play-off for third place,away,Netherlands,300186502,away_team_goals,3
1703,300186501,2014,Final,away,Argentina,300186501,away_team_goals,0

In [46]:
# 4
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_name"]
     .size()
     .sort_values("size", ascending=False)
)

                   team_name  size
7                     Brazil   108
39                     Italy    83
2                  Argentina    81
25                   England    62
29                Germany FR    62
..                       ...   ...
44                    Kuwait     3
1                     Angola     3
40                   Jamaica     3
82  rn">United Arab Emirates     3
21         Dutch East Indies     1

[83 rows x 2 columns]

In [48]:
# 5
(wc_tidy
     .groupby(["team_name"], as_index=False)
     ["team_goals"]
     .agg(["mean", "count"])
     .sort_values("mean", ascending=False). 
    head(10)
)

                  mean  count
team_name
Hungary       2.718750     32
Germany       2.166667     48
Germany FR    2.112903     62
Brazil        2.083333    108
Turkey        2.000000     10
France        1.770492     61
Soviet Union  1.709677     31
Denmark       1.687500     16
Netherlands   1.685185     54
Cuba          1.666667      3